#form{
    border:1px solid black;
    margin-top: 150px;
    padding: 50px 50px;
     box-shadow: 2px 3px black;

}
button{
    margin-left: 60px;
}

  p{
    font-size: 30px;
    margin-left: 60px;
  }
  body{
    background-color: lightgray;
  }